.task__container{
    margin: 10px 0 10px 0;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    /* background: linear-gradient(90deg, #541ABA, #541AAA); */
    /* background: #cf8700; */
}
.task__header{
    border-bottom: 1px solid #183153;
    margin: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.task__header button, .task__content-header input, .task__content-header select, .task__action select {
    border-radius: 4px;
    border: none;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8vw;
}
.task__header button i{
    color: #776BCC;
}

.task__content {
    margin: 10px;
    width: 80%;
    padding-bottom: 5px;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.task__content-header{
    margin: 5px 0 15px 0;
    display: flex;
    justify-content: space-between;
}
.task__content-tasks{
    padding: 5px 0 5px 0;
    
}
.task__content-task{
    border-radius: 5px;
    /* background: linear-gradient(90deg, #322596,#4c2cad); */
    background: #6892d5; 
    margin: 15px;
    padding: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.task__action{
    margin: 15px 0 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task__action .trash_icon {
    color: #183153;
    cursor: pointer;
}